body{
    position: absolute;
    background-color: aliceblue;
    background-image: url('../img/backg.jpg');
}

.home-container{
    position: relative;
    left: 201px;
    top: 100px;
    width: fit-content;
    height: 40%;
    background-color: #fff;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
}

.home- {
    position: relative;
    left: 300px;
    top: 140px;
    width: fit-content;
    height: 40%;
    background-color: #fff;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
}

.home- h1{
    font-family: sans-serif;
    color: #2272E3;
}

.home- h2{
    font-family: 'Times New Roman', Times, serif;
    color: #4e4e4e;
}

.home- .pages{
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #fefefe;
}

.home- li{
    color: #fefefe;
    background: #2272E3;
    text-decoration: none;
    list-style: none;
    padding: 16px 24px;
    border-radius: 48px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 700;
}


.home-container h1{
    font-family: sans-serif;
    color: #2272E3;
}

.home-container h2{
    font-family: sans-serif;
    color: #4e4e4e;
}

.home-container .pages{
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #fefefe;
}

.home-container li{
    color: #fefefe;
    background: #2272E3;
    text-decoration: none;
    list-style: none;
    padding: 16px 24px;
    border-radius: 48px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 700;
}

.authForm{
    position: relative;
    left: 25vw;
    top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50vw;
    background: #fff;
    padding: 24px;
    border-radius: 48px;
    font-family: sans-serif;
  
}

.authForm form{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-family: sans-serif;
}

.authForm form input , select{
    
    stroke: none;
    background: aliceblue;
    color: #4e4e4e;
    border: none;
    height: 56px;
    border-radius: 16px;
    margin-top: 8px ;
    padding-left: 16px;
}

.authForm .loginbtn{
    background: #2272E3;
    color: #fefefe;
    font-weight: 700;
}

.authForm a{
    text-decoration: none;
    color: #4e4e4e;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 24px;
}


.menutoggle a{
    position: relative;
    color: #fefefe;
    background: #2272E3;
    text-decoration: none;
    list-style: none;
    padding: 16px 24px;
    border-radius: 48px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 700;   
    list-style: none;
    margin: 48px;
    top: 24px;
    align-self: center;
    left: 45vw;
}

.jobs{
    position: relative;
    left: 25vw;
    top: 64px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    justify-content: center;
    width: 50vw;
    background: #fff;
    padding: 24px;
    border-radius: 48px;
    font-family: sans-serif;
    list-style: none;
}

.jobs ul{
    padding: 0;
}

.jobs li{
    list-style: none;
    font-weight: 700;
    margin: 8px;
}

.jobs a{
    color: #2272E3;
}

.jobs input , select{
    stroke: none;
    background: aliceblue;
    color: #4e4e4e;
    border: none;
    height: 48px;
    border-radius: 16px;
    margin-top: 8px ;
    padding-left: 16px;
}

.jobs .btn{
    color: #fefefe;
    background: #2272E3;
    padding: 16px 24px;
}

.display-error {
    color: red;
    font-size: large;
}

.navbar {
    background-color: aquamarine;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}