{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<head>
    <title>Create New Job</title>
    <link rel="stylesheet" href="{% static 'css/update_company.css' %}">
    <script src="{% static 'js/validation.js' %}"></script>
</head>
<div class="update-container">
    <div class="alert"><strong id="error"></strong></div>
    <form method="POST" class="update-form" onsubmit="return validateCreateJobForm(event)">
        {% csrf_token %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
        {% endfor %}
        {% endif %}

        <h3><strong>Create a new job</strong></h3>

        <div class="update-form-group">
            <label for="exampleInputEmail1">Title</label>
            {% render_field form.title class="form-control"%}
        </div>

        <div class="update-form-group">
            <label for="exampleInputEmail1">Location</label>
            {% render_field form.location class="form-control"%}
        </div>

        <div class="update-form-group">
            <label for="exampleInputEmail1">Job Type</label>
            {% render_field form.job_type class="form-control"%}
        </div>

        <div class="update-form-group">
            <label for="exampleInputEmail1">Salary/month (Or leave it blank)</label>
            {% render_field form.salary class="form-control"%}
        </div>

        <div class="update-form-group">
            <label for="exampleInputEmail1">Years of experience (minimum)</label>
            {% render_field form.years_of_experience class="form-control"%}
        </div>

        <div class="update-form-group">
            <label for="exampleInputEmail1">Description</label>
            {% render_field form.description rows="5" class="form-control"%}
        </div>

        <div class="update-form-group">
            <label for="exampleInputEmail1">Requirements</label>
            {% render_field form.requirements rows="5" class="form-control"%}
        </div>

        <div class="update-form-group">
            <label for="exampleInputEmail1" class="form-control-availability-label">Is this job available?</label>
            {% render_field form.is_available class="form-control form-control-availability"%}
        </div>

        <button type="submit" class="btn-submit">Submit</button>

    </form>
</div>
{% endblock %}