{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
<html>

<head>
    <title>Create Job</title>
</head>

<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/update_company.css' %}">
        <div class="update-container">
            <form method="POST" class="update-form">
                {% csrf_token %}

                {% if messages %}
                {% for message in messages %}
                <div class="alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
                {% endfor %}
                {% endif %}

                <h3><strong>Create a new job</strong></h3>
                
                <div class="update-form-group">
                    <label for="exampleInputEmail1">Title</label>
                    {% render_field form.title class="form-control"%}
                </div>

                <div class="update-form-group">
                    <label for="exampleInputEmail1">Location</label>
                    {% render_field form.location class="form-control"%}
                </div>

                <div class="update-form-group">
                    <label for="exampleInputEmail1">Salary</label>
                    {% render_field form.salary class="form-control"%}
                </div>

                <div class="update-form-group">
                    <label for="exampleInputEmail1">Description</label>
                    {% render_field form.description rows="5" class="form-control"%}
                </div>

                <div class="update-form-group">
                    <label for="exampleInputEmail1">Requirements</label>
                    {% render_field form.requirements rows="5" class="form-control"%}
                </div>

                <div class="update-form-group">
                    <label for="exampleInputEmail1">Is this job available?</label>
                    {% render_field form.is_available class="form-control"%}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    {% endblock %}
</body>

</html>
