body, html {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

h2 {
    color: #04193a;
    padding-left: 20px;
    padding-top: 10px;
}

h1 {
    color: #04193a;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
}

.search-section {
    background-color: white;
    padding: 35px;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 19px;
    border-radius: 10px;
}

.search-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.search-container input, .search-container select, .search-container button {
    padding: 10px 25px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
}

.search-container button {
    background-color: #052659;
    color: white;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0d5fdb;
}

.more-jobs {
    background-color: #052659;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

.more-jobs:hover {
    background-color: #0d5fdb;
  }

.pagination {
    display: flex;
    gap: 5px;
    margin: 20px 0;
}

.pagination button {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.pagination button:hover {
    background-color: #052659;
    color: white;

}

.pagination .active {
    background-color: #052659;
    color: white;
    border: none;
}

.alert-warning {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
}

.alert {
    color: red;
}