{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
    {% block content %}
    <head>
        <title>Update Company</title>
        <link rel="stylesheet" href="{% static 'css/update_company.css' %}">
    </head>
        <div class="update-container">
            <form method="POST" class="update-form">
                {% csrf_token %}

                {% if messages %}
                {% for message in messages %}
                <div class="alert-{{ message.tags }}"><strong>{{ message.info }}</strong></div>
                {% endfor %}
                {% endif %}

                <h3><strong>Update your company information</strong></h3>
                <div class="update-form-group">
                    <label for="exampleInputEmail1">Company Name</label>
                    {% render_field form.name class="form-control"%}
                </div>

                <div class="update-form-group">
                    <label for="exampleInputPassword1">Establish Date</label>
                    {% render_field form.establish_date class="form-control" %}
                </div>

                <div class="update-form-group">
                    <label for="exampleInputPassword2">City</label>
                    {% render_field form.city class="form-control" %}
                </div>

                <div class="update-form-group">
                    <label for="exampleInputPassword2">State</label>
                    {% render_field form.state class="form-control" %}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    {% endblock %}