{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'dashboard' %}">Job Search Website</a>
        </div>
        <ul class="nav-menu">
            {% if request.user.is_recruiter %}
            <li><a href="{% url 'dashboard' %}">Home</a></li>
            <li><a href="{% url 'create-job' %}">Add New Job</a></li>
            <li><a href="{% url 'manage-jobs' %}">Manage Jobs</a></li>
            <li><a href="{% url 'update-company' %}">Update Company</a></li>
            <li>{{request.user.username}}</li>
            {% endif %}
            {% if request.user.is_applicant %}
            <li><a href="{% url 'dashboard' %}">Home</a></li>
            <li><a href="applied_jobs.html">Applied Jobs</a></li>
            <li><a href="{% url 'update-resume' %}">Update Resume</a></li>
            <li>{{request.user.username}}</li>
            {% endif %}
        </ul>
        <div class="login-button">
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>
