{% extends 'base.html' %}
{% load static %}
<html>

<head>
    <title>Applicant Login Page</title>
</head>

<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% if username %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert-{{message.tags}}"><strong>{{ message }}</strong></div>
    {% endfor %}
    {% endif %}

    {% if request.user.is_recruiter %}
        {% if not request.user.has_company %}
        <div class="alert-warning">
            <b>You have not created a company, Create one now from <a href="{% url 'update-company' %}">here</a></b>
        </div>
        {% endif %}
    {% endif %}

    <h1>
        Welcome to your Dashboard, {{ username }}
        {% else %}
        This is the Dashboard, Please go to <a href="{% url 'login' %}">LOGIN PAGE</a>
    </h1>

    {% endif %}
    {% endblock content %}
</body>

</html>