{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block content %}
<head>
    <title>
        Dashboard
    </title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/job_listing.css' %}">
</head>
{% if messages %}
{% for message in messages %}
<div class="alert-{{message.tags}}"><strong>{{ message }}</strong></div>
{% endfor %}
{% endif %}
{% if request.user.is_authenticated %}
{% if request.user.is_recruiter %}
{% if not request.user.has_company %}
<div class="alert-warning">
    <b>You have not created a company, Create one now from <a href="{% url 'update-company' %}">here</a></b>
</div>
{% endif %}
{% endif %}

{% if request.user.is_applicant %}
{% if not request.user.has_resume %}
<div class="alert-warning">
    <b>You have not created a resume, Create one now from <a href="{% url 'update-resume' %}">here</a></b>
</div>
{% endif %}
{% endif %}
<h2>Welcome back, {{request.user.username}}</h2>
{% if jobs %}
<div class="cards-container">
    {% for job in jobs %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{job.title}}</h4>
            {% if job.job_type == 'Remote' %}
            <h5>{{job.company}} | Remote</h5>
            {% else %}
            <h5>{{job.company}} | {{job.location}}</h5>
            {% endif %}
            {% if job.salary == 0 %}
            <h6>N/A EGP / Month</h6>
            {% else %}
            <h6>{{job.salary | intcomma}} EGP / Month</h6>
            {% endif %}
            <a href="{% url 'job:job_detail' job.pk %}" class="details-btn">View Details</a>
            <small class="card-date">Created {{job.timestamp | naturaltime}}</small>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endif %}
<!-- <div class="pagination">
        <button>Previous</button>
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
        <button>Next</button>
    </div> -->
{% endblock %}