{% load widget_tweaks %}
{% load static %}
<html>

<head>
    <title>Applicant Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/validation.js' %}"></script>
</head>

<body>
    <h2>Looking for the best employee?</h2> 
    {% block content %}
    <div class="login-container">
        <div class="alert"><strong id="error"></strong></div>
        <form method="POST" class="login-form" onsubmit="return validateSignupForm(event)">
            {% csrf_token %}

            {% if messages %}
            {% for message in messages %}
            <div class="alert-{{message.tags}}"><strong>{{ message }}</strong></div>
            {% endfor %}
            {% endif %}
            
            <h3><strong>Sign up as a recruiter</strong></h3>
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                {% render_field form.username class="form-control" placeholder="Enter username"%}
            </div>
            
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                {% render_field form.email class="form-control" placeholder="Enter email"%}
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                {% render_field form.password1 class="form-control" placeholder="password"%}
            </div>

            <div class="form-group">
                <label for="exampleInputPassword2">Confirm Password</label>
                {% render_field form.password2 class="form-control" placeholder="confirm password"%}
            </div>

            <button type="submit" class="btn btn-primary">Sign up</button>

            <div class="signup-link">
                Already have an account? <a href="{% url 'login' %}">login</a>
            </div>
        </form>

        {% endblock content %}
</body>

</html>